@page
@model CateringOrders.Areas.Identity.Pages.EmployeeOrders.DeleteModel;

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Orders</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orders.ApplicationUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orders.ApplicationUser.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orders.FoodItems)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orders.FoodItems.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orders.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orders.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orders.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orders.IsDeleted)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Orders.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
