@page
@model CateringOrders.Areas.Identity.Pages.EmployeeOrders.DetailsModel;

<div>
    <h4>Orders</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orders.ApplicationUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orders.ApplicationUser.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orders.FoodItems)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orders.FoodItems.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orders.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orders.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orders.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orders.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Orders?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
